.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right{
	font-size: 0.8rem;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img{
	padding: 10%;
}
@media only screen and (min-width: 1300px){
	.carousel-inner>.item>a>img,
	.carousel-inner>.item>img {
		margin: auto;
	}
	.carousel-inner>.item>img{
		padding: 30px 50px 250px;
		width: 50%;
	}
}

#myCarousel{
	background-color: #f0f0f0;
	width: 95%;
	margin: auto;
}

.main-product-title{
	width: 73px;
	display: block;
	padding: 50px 0;
	margin: 0 auto;
	font-size: 18px;
	color: #ccc;
}

.botton-border{
	width: 30px;
	margin: 0 auto;
	border-bottom: 1px solid rgb(0, 101, 55);
}

.main-product{
	position: absolute;
	bottom: 120px;
	left: 0;
	right: 0;
	text-align: center;
	margin: auto;
}


/*.carousel-indicators {
	bottom: 200px;
}*/

.main-product .main-product-bottom {
	display: block;
	margin-bottom: 20px;
	font-size: 30px;
}


/*轮播图下面产品特点*/

.container {
	padding: 0 80px;
}

.row {
	position: relative;
	padding-left: 0px;
}

.box-shadow-row {
	box-shadow: 0 0 15px rgba(0, 0, 0, .5);
	transform: translateY(-70px);
	transition: 2s;
}

.container .row .col-xs-6 {
	background-color: #fff;
	height: 130px;
	vertical-align: middle;
	text-align: center;
}

.container .row .col-xs-6 p {
	display: inline-block;
	line-height: 80px;
	margin: 25px 0;
}

.container .row .col-xs-6 p:hover {
	transform: translateY(-8px);
	color: rgba(0, 101, 55, .8);
	transition: 0.5s;
}

.container .row .col-xs-6:last-of-type p {
	border: none;
}

.container .row .col-xs-6 span {
	width: 0;
	height: 50%;
	border-right: 1px solid rgb(0, 101, 55);
	position: absolute;
	right: 0;
	top: 25%;
}

.row .col-md-6 div {
	border: 1px solid #E3E3E3;
	padding: 30px;
	position: relative;
}

.row .col-md-6 div .col-md-6-line {
	width: 80%;
	border-bottom: 1px solid #e3e3e3;
	position: absolute;
	left: 30px;
}

.row .col-md-6 div .mouse-line {
	width: 0px;
	border-bottom: 1px solid #bfbfbf;
	transition: width 1s ease;
	position: absolute;
	left: 30px;
}

.row .col-md-6:hover div {
	border-color: #bfbfbf;
	transition: 1s;
}

.row .col-md-6:hover .mouse-line {
	width: 80%;
}

.row .col-md-6:hover .col-md-6-title {
	color: rgb(0, 101, 55);
	transition: 1s;
}

.svg-arrow {
	width: 35px;
	height: 35px;
	margin: 10px 0px 0px 0px;
	cursor: pointer;
}

.svg-arrow:hover {
	color: rgb(0, 101, 55);
}

.row .col-md-6 {
	padding: 15px;
}

.row .col-md-6 .col-md-6-content {
	line-height: 19px;
	height: 125px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 6;
	overflow: hidden;
	padding-top: 20px;
}

.padding-left-none {
	padding-left: 0px;
}

.padding-right-none {
	padding-right: 0px;
}


/*ipad*/

@media only screen and (min-width: 760px) and (max-width: 768px) {
	.col-md-6 {
		padding: 0px;
	}
	.row .col-md-6 .col-md-6-content{
		padding-top: 10px;
		line-height: 17px;
	}
}


/*移动端样式*/

@media only screen and (min-width: 100px) and (max-width: 760px) {
	.container {
		padding: 0 50px;
	}
	.container .row .col-xs-6 p {
		margin: 0;
		line-height: 50px;
	}
	.container .row .col-xs-6 span {
		border: none;
	}
	.container .row .col-xs-6 {
		height: 50px;
	}
	.col-md-6 {
		padding: 0px;
	}
	.row .col-md-6 .col-md-6-content{
		padding-top: 10px;
		line-height: 17px;
	}
}