ul {
	list-style: none;
	padding: 0px;
}

.navbar {
	width: 90%;
	margin-left: 5%;
}

.nav a {
	color: #ccc;
}

.nav a:hover {
	color: #333;
	background-color: #fff;
}

.nav li a:hover {
	background-color: #fff;
	color: rgb(0, 101, 55);
}

.navbar-toggle {
	background: #E3E3E3;
}

footer {
	padding: 30px 20% 0px;
}

footer .col-md-3 {
	padding: 50px;
}

footer .col-md-3 small {
	width: 150px;
	height: 150px;
}


/*ipad*/

@media only screen and (min-width: 760px) and (max-width: 768px) {
	footer .col-md-3 {
		padding: 20px 80px 0;
	}
}


/*移动端*/

@media only screen and (min-width: 100px) and (max-width: 760px) {
	footer .col-md-3 {
		padding:10px 35px 0px;
	}
	footer .col-md-3 {
		width: 50%;
		display: inline-block;
		float: left;
		text-align: center;
	}
}

/*通用*/


.h2-news-title {
	color: #e5e5e5;
	text-align: center;
	font-size: 50px;
	padding-top:80px;
}
.h2-news-title:hover{
	color: rgba(0,101,55,.8);
	transition: 1s ease;
}
.product-title {
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	padding-bottom: 30px;
}

.product-title span {
	width: 50px;
	display: inline-block;
	border-bottom: 1px solid #ededed;
	vertical-align: middle;
}

.none{
	display: none;
}
